body{
	background-color:navy;
}
header{
	background-color:black; 
}
h1{
	color:white; font-family: "Arial black", Helvetica, sans-serif;
  font-size: 400%;
}
nav{
	background-color:black; color:white; 
}
button{
	background-color:black;
}
p{
	color:white;
}
button{
	float:right-side;
}
	
	