body{
	background-color:navy;
}
header{
	background-color:black; 
}
h1{
	color:white; font-family: "Arial black", Helvetica, sans-serif;
  font-size: 400%;
}
nav{
	background-color:black; color:white; 
}
button{
	background-color:black;
}
p{
	color:white;
}
p.sale{
	background-color:black; height:400px; width:300px; font-family: "Arial black", Helvetica, sans-serif;
  font-size: 200%; 
}
p.new{
	background-color:black; height:400px; width:300px; font-family: "Arial black", Helvetica, sans-serif;
  font-size: 200%; 
}
p.Best{
	background-color:black; height:400px; width:300px; font-family: "Arial black", Helvetica, sans-serif;
  font-size: 200%; 
}
aside{
	background-color:black; 
   float:left-side;
}
	