body{
	background-color:silver; 
	}
	
header{
	background-color:aqua; text-align:center;  margin:0px 0px 12px 0px; padding:6px;
	font-family: "Arial black", Helvetica, sans-serif;
  font-size: 1em;
  color: black;
	}

	
	


	
